<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.figura" >

    <application>
        <activity android:name=".MainActivity" android:theme="@style/Theme.Figura" />
        <activity android:name=".SplashScreen" android:theme="@style/SplashTheme"
                  android:label="Teste do Einstein"
                  android:icon="@drawable/atomo">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    </application>

</manifest>